*{
    box-sizing:border-box;
    margin:0;
  }
  h1{
    text-align:center;
    padding:10px;
    margin:5px;
    color:#FF5500	;
    font-size:2.5em;
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-family:cursive;
  }
  h1 span{
      font-size:1.75em;
      color:#224;
      font-family:'Arial Narrow';
  }
  #albums{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin:0 auto;
  }
  .card{
    width:calc(33.33% - 20px);
    padding:10px;
    margin:10px;
    border:1px solid #999;
    background-color:#f9f9f9;
    border-radius:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /****** CARD HEADER *****/
  .card-head{
    padding:5px;
    display:flex;
  }
  
  .thumbnail{
    width:25%;
    height:25%;
    border-radius:50%;
    margin-right:5px;
  }
  .header{
    padding:10px;
  }
  .title{
    letter-spacing:1px;
    margin-bottom:5px;
    font-size:1.8em;
    color:#225;
  }
  .artist{
    font-size:0.75em;
    color:#777;
  }
  
  /**** BODY IMAGE *****/
  .image{
    width:100%;
    border-radius:5px;
  }
  
  /****** BUTTONS ****/
  .btns{
    display:flex;
    margin-top:5px;
    padding:5px;
  }
  .btn{
    padding:5px;
    text-decoration:none;
    border:1px solid black;
    margin:5px;
    text-align:center;
    font-weight:bold;
    border-radius:15px 5px;
  }
  .hide,.buy{
    width: calc(50% - 10px);
    color:#f9f9f9;
    padding:7px;
  }
  .hide{
    background-color:#f7655545;
    border-color:#fb0000;
    color:#cb0000;
  }
  .buy{
    background-color:#65dd7742;
    border-color:green;
    color:green;
  }
  .confirm{
    width: calc(100% - 10px);
    display:none;
  /*   background-color:#00CED188; */
    color:#008080;
    border-color:#008099;
  }
  .hide:hover,.buy:hover{
    background-color:#fff;
  }
  .confirm:hover{
    background-color:#00ced156;
  }
  
  /***** MEDIA QUERIES ****/
  @media screen and (max-width:786px){
    #albums{
      width:100%;
    }
    .card{
      width:calc(50% - 20px);
    }
  }
  
  @media screen and (max-width:425px){
    #albums{
      width:100%;
    }
    .card{
      width:100%;
    }
  }